

<div id="chart-container"></div>

<% content_for(:js_footer) do %>
<script type="text/javascript">

    d3.json("/api/v0/citations-per-defendant.json" , function(error, response){
        console.log(response.length)
        console.log(response)
        console.log(response[0])

        $('#chart-container').highcharts({
            chart: {
                type: 'area'
            },
            title: {
                text: 'Distribution of Citations per Defendant'
            },
            subtitle: {
                text: 'since person identifiers are missing from the dataset, this chart uses distinct person names'
            },
            xAxis: {
                title:{
                    text:'Distinct count of citation_id'
                },
                allowDecimals: false,
                labels: {
                    formatter: function () {
                        return this.value; // clean, unformatted number
                    }
                },
                categories:[0, 1, 2, 3, 4, 5, 6, 7]
            },
            yAxis: {
                title: {
                    text: 'Distinct count of defendant_full_name'
                },
                labels: {
                    formatter: function () {
                        //return this.value / 1000 + 'k';
                        return this.value;
                    }
                }
            },
            tooltip: {
                pointFormat: '{point.y:,.0f} distinct defendant names have been cited {point.x} times.'
            },
            plotOptions: {
                area: {
                    //pointStart: 0,
                    marker: {
                        enabled: true,
                        symbol: 'circle',
                        radius: 5,
                        //states: {
                        //    hover: {
                        //        enabled: true
                        //    }
                        //}
                    }
                }
            },
            series: [{
                name: 'ATL',
                data: [null, 100000, 50000, 20000, 7000, 2000, 700, 100],
                color: 'steelblue'
            }]
        }); // highcharts()


    }); // d3.json

</script>
<% end %>
