<div id="chart-container"> <%= @loading_message %>  </div>

<% content_for(:js_footer) do %>
<script type="text/javascript">

    function number_with_thousands_separators(int){
        return (int).toLocaleString('en-US', {minimumFractionDigits: 0})
    } // todo: share this across charts

    d3.json("/api/v0/defendant-citation-distribution.json?limit=9" , function(error, response){
        console.log(response.length)
        console.log(response)
        console.log(response[0])

        var data_categories = [0] // we don't (yet) have data on how many defendants do not have a citation
        var citation_counts = response.map(function(row){ return row["citation_count"] })
        data_categories = data_categories.concat(citation_counts)

        var atl_series_data = [null] // we don't (yet) have data on how many defendants do not have a citation
        var defendant_counts = response.map(function(row){ return parseInt(row["defendant_count"]) })
        atl_series_data = atl_series_data.concat(defendant_counts)

        $('#chart-container').highcharts({
            chart: {
                type: 'area'
            },
            title: {
                text: 'Distribution of Citations per Defendant'
            },
            subtitle: {
                text: 'since the dataset lacks person identifiers, this chart uses distinct person names'
            },
            xAxis: {
                title:{
                    text:'Distinct count of citation_id'
                },
                allowDecimals: false,
                labels: {
                    formatter: function () {
                        return this.value; // clean, unformatted number
                    }
                },
                categories: data_categories
            },
            yAxis: {
                title: {
                    text: 'Distinct count of defendant_full_name'
                },
                labels: {
                    formatter: function () {
                        //return this.value / 1000 + 'k';
                        return number_with_thousands_separators(this.value);
                    }
                }
            },
            tooltip: {
                formatter: function(){
                    return number_with_thousands_separators(this.y) + ' distinct defendant names have been cited ' + this.x + ' times.';
                }
                //pointFormat: '{point.y:,.0f} distinct defendant names have been cited {point.x} times.'
            },
            plotOptions: {
                area: {
                    //pointStart: 0,
                    marker: {
                        enabled: true,
                        symbol: 'circle',
                        radius: 5,
                        //states: {
                        //    hover: {
                        //        enabled: true
                        //    }
                        //}
                    }
                }
            },
            series: [{
                name: 'ATL',
                data: atl_series_data,
                color: 'steelblue'
            }]
        }); // highcharts()


    }); // d3.json

</script>
<% end %>
