<h2>Data Visualizations</h2>

<ul>
  <li><%= link_to "Top Violations Chart", top_violations_chart_path %></li>
  <li><%= link_to "Distribution of Citations per Defendant", citations_per_defendant_chart_path %></li>
</ul>
