<div id="chart-container"></div>

<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<!--script src="https://code.jquery.com/jquery-2.1.4.min.js"></script-->
<script src="http://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript">

    d3.json("/api/v0/top-violations.json", function(error, response){
        console.log(response.length)
        console.log(response)
        console.log(response[0])

        var data_series = [{
            name: 'All citations',
            data: [635, 203, 107, 31, 20], // todo: sort descending
            color: 'steelblue'
        }]

        // todo: match the order of corresponding category name
        var data_categories = ['FAILURE TO OBEY', 'Urinating in Public', 'Safety Belt Violation', 'Following too closely', 'SPEEDING 19 to 23 MPH OVER']

        $('#chart-container').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Top Violations'
            },
            subtitle: {
                text: 'helpful subtitle here...'
            },
            xAxis: {
                categories: data_categories,
                title: {
                    text: null
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Distinct cout of citation_id',
                    align: 'middle' // 'high'
                },
                labels: {
                    overflow: 'justify'
                }
            },
            tooltip: {
                valueSuffix: ' citations'
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: {
                enabled:false,
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -40,
                y: 80,
                floating: true,
                borderWidth: 1,
                backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                shadow: true
            },
            credits: {
                enabled: true
            },
            series: data_series
        }); // highcharts()

    }); // d3.json()

</script>
