<h2>Data Standards</h2>

<h3>Recommendations</h3>

<h4>Needs</h4>

<ul>
  <li>Person identifiers (ATL)</li>
  <li>Citation dates (ATL)</li>

</ul>

<h4>Nice to Have</h4>

<ul>
  <li>Citation location lat/lon (ATL)</li>
</ul>
